<form [formGroup]="form">
    <div fxLayout="row">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" [readonly]="!isEdit" />
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="lastName" [readonly]="!isEdit" />
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput [matDatepicker]="datepicker" [max]="today" [readonly]="!isEdit">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="datepicker" [disabled]="!isEdit"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
        <button mat-icon-button [disabled]="!form.valid" *ngIf="isEdit" (click)="save()">
            <mat-icon>check</mat-icon>
        </button>
        <button mat-icon-button [disabled]="!form.valid" *ngIf="!isEdit" (click)="isEdit = true">
            <mat-icon>pencil</mat-icon>
        </button>
    </div>
</form>
