<mat-card>
  <mat-card-header>
    <h3 mat-card-title>Custom operators</h3>
  </mat-card-header>
  <mat-card-content>
    <p>
      Como vimos brevemente en la pantalla anterior, los operators ademas de agruparse, pueden extraerse a una función 
      por separado, lo cuál nos permite crear nuestros propios operadores que podemos reutilizar dentro de nuestra aplicación.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <p mat-card-title>Loader / Save success</p>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <app-dummy-table [source]="data"></app-dummy-table>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutGap="15px">
        <button mat-flat-button color="primary" (click)="getData()">Buscar</button>
        <button mat-flat-button color="primary" (click)="save(data[0])">Guardar</button>
      </mat-card-actions>
</mat-card>
