<table mat-table [dataSource]="source" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre</th>
      <td mat-cell *matCellDef="let dummy"> {{ dummy.name }} </td>
    </ng-container>
  
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let dummy"> {{dummy.lastName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef> F. de nacimiento </th>
      <td mat-cell *matCellDef="let dummy"> {{dummy.birthDate }} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Edad </th>
      <td mat-cell *matCellDef="let dummy"> {{dummy.age }} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
