[mat-header-cell] {
    padding-left: 15px!important;
    padding-right: 15px!important;
}

[mat-cell] {
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.editable [mat-row]:hover {
    background-color: cadetblue;
}
