<mat-card>
  <mat-card-header>
    <h2 mat-card-title>Subsink wrapper</h2>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutGap="15px">
    <p>Se puede crear una clase específica para este propósito, de la cual fururos componentes puedan heredar su comportamiento.

      De esta manera utilizando la clase SubscriptionComponent se puede directamente agregar las suscripciones
      a la variable subs.sink, donde estas luego serán eliminadas por el ciclo de ngOnDestroy.
    </p>

    <img src="assets/subscription-component.png" />
    <img src="assets/subscription-component-usage.png" />
  </mat-card-content>
</mat-card>
