<mat-card>
  <h2 mat-card-title>Suscriptor</h2>
  <mat-card-content>
    <p>
      Como mencionamos anteriormente, una de las ventajas de las suscripciones es que pueden emitir eventos siempre y cuando el evento 'complete'
      no haya puesto fin a la suscripción.
    </p>

    <p>En esta pantalla vemos un observable de tipo Subject que puede ser almacenado a través de una variable. Al ponerlo en un servicio instanciado
      a nivel raíz de la aplicación, nos proporciona un Observable que estará siempre disponible en la misma.
    </p>
    
    <div fxLayout="column" fxLayoutGap="15px">
      <img src="assets/subject.png" style="max-width:60vw" />
      <img src="assets/subject-subscriber.png" style="max-width:60vw"/>
    </div>

    <p><strong class="red">IMPORTANTE:</strong> Se debe tener mucho cuidado en estos casos, ya que las suscripciones abiertas pueden ocasionar
    memory leaks y comportamientos no deseados, por lo tanto siempre es aconsejable finalizar las suscripciones almacenandolas en una variable,
    y llamando al metodo unsubscribe()
    *
    </p>
  </mat-card-content>
</mat-card>
