<div mat-dialog-title no-margin>
  <div fxLayout="row" class="header-row">
      <h3 no-margin modal-title>{{ data.title? data.title : data.message | translate }}</h3>
  </div>
</div>
<mat-dialog-content no-margin no-padding perfectScrollbar *ngIf="data.title">
  <div fxLayout="row" class="message">
    <p [innerHTML]="data-message | translate" no-margin></p>
  </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
  <button mat-stroked-button (click)="onDecline()" fxFlex
    color="secondary">{{ data.declineButtonText | translate: { Default: 'No' } }}</button>
  <button mat-flat-button (click)="onAccept()" fxFlex
    color="primary">{{ data.acceptButtonText | translate: { Default: 'Yes'} }}</button>
</mat-dialog-actions>
