<mat-card>
  <h3 mat-card-title>Introducción</h3>
  <mat-card-content>
    <p> Es una librería de javascript que permite gestionar <strong>eventos</strong> de todo tipo: 
      Llamadas a la API, cambios de elementos de DOM, inputs, Angular forms, entre otros.
    
      Tambíen facilita la manipulación de estos eventos, como puede ser filtrado, mapeos, delays, y más.
  </mat-card-content>
</mat-card>
<mat-card>
  <h3 mat-card-title>Elementos</h3>
  <mat-card-content>
    <ul>
      <li>
        <span><strong>Observable:</strong>
        Una colección de eventos que se pueden emitir en algún momento.</span>
      </li>
      <li>
        <span><strong>Observer:</strong> 
        Un objeto que escucha el flujo de datos y puede actuar sobre los valores que éste emite.</span>
      </li>
      <li>
        <span><strong>Subscription:</strong>
        Representa la ejecución de un observable y permite cancelarla.</span>
      </li>
      <li>
        <span><strong>Operador:</strong>
        Función para manipular los eventos siguiendo los principios de la programación funcional.</span>
      </li>
    </ul>
  </mat-card-content>
</mat-card>

