
<mat-sidenav-container id="container" fullscreen>
    <mat-sidenav mode="side" opened class="sidenav">
        <h2 [routerLink]="'basic/home'">RXJS</h2>
        <mat-divider></mat-divider>
        <mat-list role="list">
            <ng-container *ngFor="let item of navItems">
                <ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ item: item }"></ng-template>
                <mat-list *ngIf="expanded(item)">
                    <ng-template *ngFor="let children of item.children" [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ item: children }"></ng-template>
                </mat-list>
            </ng-container>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #itemTemplate let-item="item">
    <mat-list-item role="listitem" class="list-item" [ngClass]="{ 'main-item': item.children, 'selected': selected(item) }" (click)="itemClicked(item)">{{ item.name }}</mat-list-item>
</ng-template>
